@use "@/shared/sass/mixins.scss" as m;
@use "@/shared/sass/variables.scss" as v;

.promo {
  &__list {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.card {
  &__inner {
    display: flex;
    column-gap: 1rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    background-color: rgba(blue, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;

    @include m.mw(v.$tb) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

.author {
  &__link {
    font-weight: 700;
    font-size: 0.88rem;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #252c32;
    transition: 0.3s;

    @include m.hocus() {
      opacity: 0.7;
    }
  }
}

.row {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    border: 0.06rem solid #9bcffd;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: #252c32;
  }

  &__body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 133%;
    color: #84919a;
  }
}

.comments {
  &__button {
    background-color: transparent;
    font-size: 0.88rem;
    line-height: 133%;
    color: #9bcffd;
    align-self: flex-start;
    transition: color 0.3s;
    cursor: pointer;

    &--active {
      color: blue;
      margin-bottom: 0.5rem;
    }

    &:hover {
      color: blue;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 133%;
    border: 0.06rem solid #9bcffd;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  &__email {
    color: #252c32;
  }

  &__body {
    color: #84919a;
  }
}
